html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	font:16px Arial , sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.up_header {
	background-color:black;
	height: 56px;
	padding: 20px 0;
	color: white;
}

#title {
	margin: 0;
	padding: 0;
	font:16px Arial , sans-serif;
	float: left;
}

#title a {
	color: white;
}

.up_header time {
	float: right;
}

.down_header {
	margin:40px 0;
	height:45px;
	position:relative;
}

#logo {
	float: left;
	margin: 2px 63px 0 0;
}

.select-wrapper {
	float: left;
	display: inline-block;
	position: relative;
	margin: 16px 50px 0 0;
/* обнуляем шрифт, чтобы убрать текст label */
	font-size: 0;
}

.select-wrapper:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 15px;
	height: 1px;
	border-bottom: 2px dashed #448ccb;
}

.custom-select {
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

/* Восстанавливаем шрифт */
	font-size: 16px;
/* для того, чтобы задать саму стрелку:
1. отведем для нее место; */
	padding-right: 15px;
/* добавим ее фоном */
	background: url(arrow.png) 100% no-repeat;
	background-size: 10px;
}

.clock {
	float: left;
	margin-top: 16px;
}

.clock span {
	margin-left:20px;
	background:url(clock.png);
	background-position: left center;
	background-size: auto 100%;
	display: inline-block;
	padding-left: 30px;
	background-repeat: no-repeat;
}

.weather {
	float:right;
	margin-right: 40px;
	margin-top: 14px;
	color:#b2b2bb;
	background:url(../img/weather.png);
	background-position: left center;
	background-size: auto 100%;
	display: block;
	padding-left: 30px;
	background-repeat: no-repeat;
}

.search{
	float: right;
	border: 0;
    box-sizing: border-box;
    padding: 0 0 0 15px;
    height: 45px;
    width: 320px;
    border-radius: 32px;
    background: #f3f3f3 url(loupe.png) 96% no-repeat;
}

.menu {
	margin: 40px 0;
}

.menu_item {
	color: #000;
/*– отмена подчеркивания ссылок*/
	text-decoration:none;
	font:16px Areal, sans-serif;
}

.menu span {
	padding:0 10px;
}
